<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="<%= blog.title%>">
        <meta name="og:description" content="<%= blog.meta_des%>">
        <meta name="og:image" content="<%= blog.image%>">
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1><%= blog.name%></h1>
            <img src="<%= blog.image %>" alt="Image">
        </header>
        <div class="container">
            <h3>Description</h3>
            <p><%= blog.description %></p>
        </div>
        <div class="container">
            <p><%= blog.body%></p>
        </div>
        </div>
    </body>
</html>